<!DOCTYPE html>
<html>
    <head>
        {{tag_var}}
        <title>Learning Model Form</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style1.css'%}">
    </head>
    <body>
        <h2 id="h">Learning Model Form.!</h2>
        <p id='p2'>Hi!  Welcome to the innovation with python training.</p>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login"/>
        </form>
    </body>
</html>