body
{
    background-color: lawngreen;
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}
#h{
    text-align: center;
}
#p1{
    color: darkblue;
    text-align: center;
    font-size: x-large;
}
#p2{
    color: darkmagenta;
    font-size: xx-large;
    font-family: 'Times New Roman';
    font-style: italic;
    text-align: center;
}
.box-img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
}
